<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Little P's Order Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    @using PierresOrderTracker.Models;

    <h3>Order Summary:</h3>

    <ol>
    @foreach (Order order in @Model["order"])
    {
      <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Description</a></li>
    }
    </ol>

    <p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>
    <p><a href='/vendors'>Return to Vendors</a></p>
    <p><a href='/'>Home</a></p>
  </body>
</html>